<!DOCTYPE html>

<html>

<head>
    {{>imports}}
</head>

<body>
    {{>header}}
    <div class="main-content">
        <img class='portrait' src="/images/profile.png" alt="profile image">
    </div>
    {{>footer}}
</body>
</html>