<!DOCTYPE html>

<html>

<head>
    {{>imports}}
</head>

<body>
    {{>header}}
    <div class="main-content">
        <form id="weather-form">
            <p>Write down the country you're curious about it's weather.</p>
            <input type="text" placeholder="Address" id="weather-address">
            <button id="weather-form-button">search</button>
        </form>

        <p id="weaher-forecast"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>