
<header class="header">
    <h1 class="header__page-title">{{title}}</h1>

    <div class="header__navs">
        <a class="header__navs-item" href="/">weather</a>
        <a class="header__navs-item" href="/about">about</a>
        <a class="header__navs-item" href="/help">help</a>
    </div>
</header>

